
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#root {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
  }

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #1a2a6c, #00d2ff, #3a7bd5, #8e44ad);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite; 
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.main-content {
  flex: 1;
}


.footer
{
  width: 100%;
  background-color: #ecf0f1;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  margin-top: auto;
}


@keyframes softColorLoop {
    0% { color: #3a7bd5; }   
    50% { color: #00d2ff; }  
    100% { color: #3a7bd5; }  
  }
.animated-soft {
    animation: softColorLoop 7s infinite ease-in-out;
  }
